body {
  margin: 0;
  padding: 0;
}

header {
  display:flex;
  width: 100%;
  height: 460px;
  background-color: violet;
  margin:0;
}

nav {
  width: 100%;
  height: 80px;
  background-color: palegreen;
  display: float;
}

.nav-bar-1 {
  width: 100%;
  margin: 0;
  height: 35%;
  background-color: black;
  display: inline-block;

}

.nav-bar-2 {
  width: 100%;
  margin: 0;
  height: 65%;
  background-color: #eee;
}

.tnw-logo-container {
  float: left;
  height: 80px;
  width: 10%;
  margin: 0;
  background-color: lightseagreen;
  display: none;
}

.nav-bar-1 a {
  margin: 2px 10px;
  color: white;
}

.float-left {
  float: left;
  width: auto;
}

.float-right {
  float: right;
  width: auto;
}



.yellow-thingy {
  width: 100%;
  height: 30px;
  margin-top: 0;
  margin-bottom: 3px;
  background-color: #f4d03f;
  clear: both;
}

.col-1 {
  width: 66%;
  height: 100%;
  margin: 3px 5px;
  background-color: teal;
}

.col-2 {
  width: 34%;
  height: 100%;
  background-color: peru;
  display: flex;
  flex-direction: column;
  margin: 3px 5px;
}

.row-1 {
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
  background-color: green;
}

.row-2 {
  width: 100%;
  height: 50%;
  margin-top: 5px;
  background-color: wheat;
}

main {
  margin: 0;
  width: 100%;
  background: papayawhip;
  height: auto;
}

[id='latest'],
[id='apple-event'],
[id='funding'],
[id='main-articles'],
[id='deals'] {
  width: 85%;
  margin: 0 auto;
  background: #eee;
}

#apple-event {
  height: auto;
  margin-top: 70px;
}

#funding {
  height: 300px;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar-2 .float-left{
  padding: 15px 10px;
}

.nav-bar-2 a {
  color: #333;
  margin: 0 10px;
}

#latest {
  height: auto;
  min-width: 800px;
}

[class*='latest-col'] {
  width: 24%;
  margin: 0 0.5%;
  height: 50%;
}


.latest-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.latest-img {
  position: relative;
  width: 100%;
  margin: 20px 0 10px 0;
  height: auto;
  top: 0;
}

section article h3 {
  font-size: 20px;
  color: black;
  margin: 0;
}

section h1 {
  margin: 0;
  font-size: 40px;
  color: #f42;
}

.latest-wrapper article div {
  display: inline-block;
  margin: 0;
}

.apple-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

[class*='apple-col'] {
  width: 24%;
  margin: 0 0.5%;
  height: 100%;
}

.funding-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

[class*='funding-col'] {
  width: 24%;
  height: 100%;
  margin: 0 1%;
  display: flex;
  flex-direction: column;
}

[class*='funding-item'] {
  width: 100%;
}

.funding-item-1 {
  height: 38px;
  background-color: #f42;
}
.funding-item-2 {
  height: 58px;
  background-color: papayawhip;
}
.funding-item-3 {
  height: auto;
  background-color: #ccc;
}
.funding-item-4 {
  height: auto;
  background-color: #ddd;
}

.funding-img {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
}

#main-articles {
  height: 1800px;
  background-color: lightseagreen;
  padding: 0;
}

.trends-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

[class*='trends-col'] {
  width: 31%;
  height: 33%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}


.trends-fig {
  position: relative;
  width: 100%;
  margin: 0;
  height: 50%;
  top: 0;
  background-color: teal;
}


.trends-latest {
  position: relative;
  width: 100%;
  height: 15%;
  background-color: peru;
  display: flex;
}

.trends-latest-title {
  width: 80%;
  background-color: palegreen;
}

.trends-latest-img {
  width: 20%;
  background-color: papayawhip;
}

.trends-list {
  width: 100%;
  height: auto;
}

#deals {
  height: 450px;
  margin-top:50px;
  margin-bottom: 75px;
}

.deals-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.deals-img {
  position: relative;
  width: 100%;
  margin: 0 0 9px 0;
  height: 80%;
  top: 0;
}

[ class*='deals-col' ] {
  width: 24%;
  margin: 0 0.5% 2.7% 0.5%;
  height: 50%;
}

.section-title {
  height: 30px;
  width: 100%;
  display: float;
}

.deals-wrapper article div a:first-child {
  text-decoration-line: underline;
}

footer {
  width: 100%;
  display: block;
  height: 250px;
  margin: 0;
  background-color: teal;
  bottom: 0;
}

.footer-up {
  width: 100%;
  height: 86%;
  background-color: #131313;
}

.footer-down {
  width: 100%;
  height: 52.5%;
  background-color: #000;
}

.footer-down div {
  margin: 0 auto;
  padding-top: 55px;
  height: 50px;
  width: 800px;
}

.footer-down div span{
  color: white;
}



.social-icons-wrapper {
  width: 450px;
  height: 50px;
  position: relative;
  margin: auto;
  top: 25%;
  background-color: papayawhip;
}

.social-links-wrapper {
  width: 500px;
  height: auto;
  position: relative;
  margin: auto;
  top: 45%;
  display: flex;
  background-color: papayawhip;

}

.social-links-wrapper a {
  color: #aaa;
  margin-right: 20px;
}

.social-links-wrapper a:hover {
  color: white;
}

[class*='social-button'] {
  flex: auto;
  border-radius: 50%;
  background-color: #666;
  width: 50px;
  height: 50px;
  display: inline-flex;
  margin: 0 5px;
}

.logo-tnw {
  width: 50px;
}

.heart {
  color: #ff2244 !important;
}

.deals-col-9 {
  display: none;
}

/*first breakpoint: 1024px
second breakpoint: 760px
third breakpoint:3..px */
@media only screen and (max-width: 1024px) {

  [id='latest'],
  [id='apple-event'],
  [id='funding'],
  [id='main-articles'],
  [id='deals'] {
    width: 95%;
    margin: 0 auto;
    background: palegreen;
  }

  #main-articles{
    height: 3000px;
  }

  [class*="latest-col"] {
    width: 32%;
    margin: 0 0.5%;
  }

  [class*="apple-col"] {
    width: 32%;
    margin: 0 0.5%;
  }

  [class*="funding-col"] {
    width: 32%;
    margin: 0 0.5%;
  }

  .funding-col-4-wrapper {
    display: none;
  }

  [class*="trends-col"]{
    width: 47% !important;
    margin: 0 auto;
    height: 24%;
  }

  .trends-col-9{
    display: none;
  }

  [class*="deals-col"]{
    width: 32%;
    margin: 0 auto;
  }

  .deals-col-9{
    display: block;
  }

  #deals {
    height: 720px;
  }

  header {
    height: 360px;
  }

  [class*='nav-bar'] {
    margin-left: 10%;
    display: block;
    width: 90%;
  }

  .tnw-logo-container {
    display: block;
  }

}
